<div id="edit-sitemap">
    <form class="form-horizontal" role="form" id="edit-sitemap-metadata-form">

        <div class="form-group">
            <label for="edit_sitemap_id" class="col-lg-1 control-label">
                Sitemap name
            </label>
            <div class="input-group col-lg-3">
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="_id" id="edit_sitemap_id" placeholder="Sitemap name" value="{{_id}}">
                </div>
            </div>
        </div>

        <div class="form-group">

            <label for="edit_sitemap_navparam_name" class="col-lg-1 control-label">
                Nav Param Name
            </label>
            <div class="input-group col-lg-3">
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="navParamName" id="edit_sitemap_navparam_name" placeholder="Navigation Parameter Name" value="{{navParamName}}">
                </div>
                <div class="col-lg-2">
                    <span class="input-group-btn">
                        <a href="#" role="button" class="btn btn-info btn-xs popovers" data-trigger="focus" data-toggle="popover" title=""
                           data-content="See also <a target='_blank' href='https://idra.readthedocs.io/en/latest/admin/scraping/index.html' title='test add link'>documentation</a>"
                           data-original-title="Navigation parameter name (e.g. <strong>'id'</strong>), whose value will give the dataset page (e.g. <strong>'id=1'</strong>)" "><span class="glyphicon glyphicon-question-sign" />
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="edit_sitemap_navParam_type" class="col-lg-1 control-label">
                Nav Param Type
            </label>
            <div class="input-group col-lg-3">
                <div class="col-lg-10">
                    <select class="form-control" id="edit_sitemap_navParam_type" name="navParamType" value="{{navParamType}}">
                        <option value="QUERY_RANGE">QUERY RANGE</option>
                        <option value="PATH_RANGE">PATH RANGE</option>
                        <option value="QUERY_PAGE">QUERY PAGE</option>
                        <option value="PATH_PAGE">PATH PAGE</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <span class="input-group-btn">
                        <a href="#" role="button" class="btn btn-info btn-xs popovers" data-trigger="focus" data-toggle="popover" title=""
                           data-content="See also <a target='_blank' href='https://idra.readthedocs.io/en/latest/admin/scraping/index.html' title='test add link'>documentation</a>"
                           data-original-title="Navigation parameter type, depending on navigation modes (Dataset Url <strong>Range</strong> or <strong>Pagination</strong>) and parameter type (<strong>Query</strong> or <strong>Path</strong>)"><span class="glyphicon glyphicon-question-sign" />
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group" id="edit_sitemap_navParam_startValue_form">
            <label for="edit_sitemap_navParam_startValue" class="col-lg-1 control-label">
                Nav Param Start
            </label>
            <div class="input-group col-lg-3">
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="navParamStartValue" id="edit_sitemap_navParam_startValue" placeholder="Navigation Parameter Start Value" value="{{navParamStartValue}}">
                </div>
                <div class="col-lg-2">
                    <span class="input-group-btn">
                        <a href="#" role="button" class="btn btn-info btn-xs popovers" data-trigger="focus" data-toggle="popover" title=""
                           data-content="See also <a target='_blank' href='https://idra.readthedocs.io/en/latest/admin/scraping/index.html' title='test add link'>documentation</a>"
                           data-original-title="Navigation Start Value, start value for the navigation parameter from which dataset urls will start (valid only for <strong>QUERY_RANGE</strong> and <strong>PATH_RANGE</strong> nav types)"><span class="glyphicon glyphicon-question-sign" />
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group" id="edit_sitemap_navParam_endValue_form">
            <label for="edit_sitemap_navParam_endValue" class="col-lg-1 control-label">
                Nav Param End
            </label>
            <div class="input-group col-lg-3">
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="navParamEndValue" id="edit_sitemap_navParam_endValue" placeholder="Navigation Parameter End Value" value="{{navParamEndValue}}">
                </div>
                <div class="col-lg-2">
                    <span class="input-group-btn">
                        <a href="#" role="button" class="btn btn-info btn-xs popovers" data-trigger="focus" data-toggle="popover" title=""
                           data-content="See also <a target='_blank' href='https://idra.readthedocs.io/en/latest/admin/scraping/index.html' title='test add link'>documentation</a>"
                           data-original-title="Navigation End Value, end value for the navigation parameter to which dataset urls will end (valid only for <strong>QUERY_RANGE</strong> and <strong>PATH_RANGE</strong> navigation)"><span class="glyphicon glyphicon-question-sign" />
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group" id="edit_sitemap_navParam_pagesNumber_form">
            <label for="edit_sitemap_navParam_pagesNumber" class="col-lg-1 control-label">
                Nav Pages Number
            </label>
            <div class="input-group col-lg-3">
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="navParamPagesNumber" id="edit_sitemap_navParam_pagesNumber" placeholder="Navigation Parameter Pages Number" value="{{navParamPagesNumber}}">
                </div>
                <div class="col-lg-2">
                    <span class="input-group-btn">
                        <a href="#" role="button" class="btn btn-info btn-xs popovers" data-trigger="focus" data-toggle="popover" title=""
                           data-content="See also <a target='_blank' href=https://idra.readthedocs.io/en/latest/admin/scraping/index.html' title='test add link'>documentation</a>"
                           data-original-title="Pages Number, explictly set the number of pages when the navigation is a paginated list of datasets (valid only for <strong>QUERY_PAGE</strong> and <strong>PATH_PAGE</strong> navigation)">
                            <span class="glyphicon glyphicon-question-sign" />
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group" id="edit_sitemap_navParam_datasetsPerPage_form">
            <label for="edit_sitemap_navParam_datasetsPerPage" class="col-lg-1 control-label">
                Nav Datasets per Page
            </label>
            <div class="input-group col-lg-3">
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="navParamDatasetsPerPage" id="edit_sitemap_navParam_datasetsPerPage" placeholder="Navigation Parameter Datasets per Page" value="{{navParamDatasetsPerPage}}">
                </div>
                <div class="col-lg-2">
                    <span class="input-group-btn">
                        <a href="#" role="button" class="btn btn-info btn-xs popovers" data-trigger="focus" data-toggle="popover" title=""
                           data-content="See also <a target='_blank' href='https://idra.readthedocs.io/en/latest/admin/scraping/index.html' title='test add link'>documentation</a>"
                           data-original-title="Datasets number per Page, this parameter is used as multiplier for the page parameter in the url, used when the pagination parameter represents the datasets offset (e.g. <strong>Last Page</strong> value = 500, 10 datasets per page -> 50 pages)">
                            <span class="glyphicon glyphicon-question-sign" />
                        </a>
                    </span>
                </div>
            </div>
        </div>
        {{#startUrl.push}}
        {{#startUrl}}
        <div class="form-group">
            <label class="col-lg-1 control-label">Start URL</label>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="text" class="form-control input-start-url" name="startUrl[]" placeholder="URL" value="{{.}}">
                    <!-- 						<span class="input-group-btn"> -->
                    <!-- 							<button class="btn btn-default remove-start-url" type="button">-</button> -->
                    <!-- 							<button class="btn btn-default add-extra-start-url" type="button">+</button> -->
                    <!-- 						</span> -->
                </div>
            </div>
        </div>
        {{/startUrl}}
        {{/startUrl.push}}
        {{^startUrl.push}}
        <div class="form-group">
            <label class="col-lg-1 control-label">Start URL</label>
            <div class="input-group col-lg-3">
                <div class="col-lg-10">

                    <input type="text" class="form-control input-start-url" name="startUrl[]" placeholder="URL" value="{{startUrl}}">
                    <!-- 							<span class="input-group-btn"> -->
                    <!-- 								<button class="btn btn-default remove-start-url" type="button">-</button> -->
                    <!-- 								<button class="btn btn-default add-extra-start-url" type="button">+</button> -->
                    <!-- 							</span> -->
                </div>
                <div class="col-lg-2">
                    <span class="input-group-btn">
                        <a href="#" role="button" class="btn btn-info btn-xs popovers" data-trigger="focus" data-toggle="popover" title=""
                           data-content="See also <a target='_blank' href='https://idra.readthedocs.io/en/latest/admin/scraping/index.html' title='test add link'>documentation</a>"
                           data-original-title="Base Url to which will be appended the Nav Parameter, depending on Navigation modes (<strong>RANGE</strong>: Base url for datasets urls, <strong>PAGE</strong>: Base Url for paginated list of datasets"><span class="glyphicon glyphicon-question-sign" />
                        </a>
                    </span>
                </div>
            </div>
        </div>
        {{/startUrl.push}}
        <div class="form-group">
            <div class="center col-lg-offset-2 col-lg-2">
                <button type="submit" class="btn btn-primary " id="submit-edit-sitemap">Save Sitemap</button>
            </div>

        </div>
        <div style="font-size:15px;" class="text-center well well-sm">
            Click <span class="glyphicon glyphicon-question-sign"></span> buttons to get further information. <a href="https://idra.readthedocs.io" target="_blank"> (Idra ReadTheDocs).</a>
        </div>
    </form>

</div>
<script>
    var initEditSitemapMetadataNavigationParams = function () {
        $('[data-toggle="tooltip"]').tooltip();
        $("[data-toggle=popover]").popover({ html: true, container: 'body' });

        var currentNavParamType = $("#edit_sitemap_navParam_type").val();

        if (currentNavParamType == "QUERY_RANGE" || currentNavParamType == "PATH_RANGE") {
            $('#edit_sitemap_navParam_pagesNumber_form').css('display', 'none');
            $('#edit_sitemap_navParam_datasetsPerPage_form').css('display', 'none');
        }

        $("#edit_sitemap_navParam_type").change(function () {
            var selectedType = $(this).val();
            if (selectedType == "QUERY_PAGE" || selectedType == "PATH_PAGE") {

                $('#edit_sitemap_navParam_startValue_form').css('display', 'none');
                $('#edit_sitemap_navParam_endValue_form').css('display', 'none');
                $("#edit_sitemap_navParam_startValue").val("0");
                $('#edit_sitemap_navParam_pagesNumber_form').show();
                $('#edit_sitemap_navParam_datasetsPerPage_form').show();
            }

            if (selectedType == "QUERY_RANGE" || selectedType == "PATH_RANGE") {

                $('#edit_sitemap_navParam_startValue_form').show();
                $('#edit_sitemap_navParam_endValue_form').show();
                $("#edit_sitemap_navParam_startValue").val("0");
                $('#edit_sitemap_navParam_pagesNumber_form').hide();
                $('#edit_sitemap_navParam_datasetsPerPage_form').hide();
            }

        });

    };
        $(document).ready(initEditSitemapMetadataNavigationParams);


</script>